html, body {
   
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    margin: 0;
    background-color: #1f2d36
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.message {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 16px;
    border-radius: 8px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slide-in 0.5s ease;
    z-index: 1000;
}

.errorMessage {
    background-color: #f44336; /* Red background for error */
}

.successMessage {
    background-color: #4CAF50; /* Green background for success */
    bottom: 80px; /* Slightly above the error message */
}

.message button {
    background: none;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

.message button:hover {
    color: #ddd;
}

@keyframes slide-in {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}




